SCOPES=https://www.googleapis.com/auth/gmail.readonly
BASE_DIR = src/gfetch
RAW_EMAIL_DIR=raw_emails
CLEAN_EMAIL_DIR=cleaned_emails
ATTACHMENTS_DIR=cleaned_emails/attachments
CREDS=credentials.json
TOKEN=token.json
