SECRET_KEY=sosecret
SCOPES=https://www.googleapis.com/auth/gmail.readonly
RAW_EMAIL_DIR=./src/app/raw_emails
CLEAN_EMAIL_DIR=./src/app/cleaned_emails
ATTACHMENTS_DIR=./src/app/cleaned_emails/attachments
CREDS=./src/app/credentials.json
TOKEN=./src/app/token.json
